@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface: #151219;
  --surface-dim: #151219;
  --surface-bright: #3c3840;
  --surface-container-lowest: #100d14;
  --surface-container-low: #1d1a22;
  --surface-container: #221e26;
  --surface-container-high: #2c2830;
  --surface-container-highest: #37333b;
  
  --primary: #d6baff;
  --on-primary: #430089;
  --primary-container: #5f2da6;
  --on-primary-container: #cdadff;
  
  --secondary: #d8b9ff;
  --on-secondary: #401972;
}